/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";


html,body{
    margin:0;
    width:100%;
    height:100%;
}
app-root{
    width: 100%;
    height: 100%;
    display: block;
}
.mat-dialog-container{
    border: 3px solid black;
    border-radius: 10px !important;
    background:#9eb5e1;
}
.mat-tab-body-wrapper {
    height: 100% !important;
}