.mainwrapper{
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 500px 100px;
    grid-gap:20px;
}

.left{
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.right{
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    align-self: center;
    width:100%;
    text-align: center;
    
   
}
.middle{
    grid-row: 1;
    grid-column: 2;
    border-left: 1px solid #ddefff;
}
.footer{
    grid-area: 2 / 1 / span 1 / span 3;
    justify-self: center;
    align-self: center;
    margin-top: 40px;
    /* margin-right: 20px; */
}
.jsonpreview{
    width: 319px;
    height: 425px;
    max-width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px;

}
.descpprev{
    border: none;
    height: 107px;
    width: 339px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 8px;
}
.mat-dialog-container{
    border: 3px solid black;
    border-radius: 10px;
    background:#9eb5e1;
}
.creatorlink{
    text-decoration: underline;
    color:#317ed2;
    cursor: pointer;
}