<div class="mainwrapper">
  <div class="top left">

  </div>
  <div class="top right">
      <button mat-raised-button (click)="update()" class="item" [disabled]="autorefresh">Refresh</button>
      <mat-slide-toggle class="item" (change)="onRefreshToggle($event)">Auto-Refresh</mat-slide-toggle>
  </div>
  <div class="bottom left">
    <p class="settings-label">Block Size</p>
    <mat-slider class="item"
      [max]=100
      [min]=10 
      [(ngModel)]="blockSizePixels" 
      (input)="onSliderChange($event)"
      [thumbLabel]=true
      [disabled]="!drawgrid">
    </mat-slider>
    <mat-checkbox class="item" [(ngModel)]="drawgrid" (change)="updateView()"><p class="settings-label">Show Grid</p></mat-checkbox>
  </div>
  <div class="bottom right">
    <canvas class="{{handPtr}}"
      #canvas width="{{canvasWidthPixels}}" 
      height="{{canvasHeightPixels}}" 
      style="border:5px solid black"
      mouseListener
      (mouseWheelUp)="onMouseWheelUp($event)"
      (mouseWheelDown)="onMouseWheelDown($event)"
      (mouseDown)="onMouseDown($event)"
      (mouseUp)="onMouseUp($event)"
      (mouseMove)="onMouseMove($event)"
      (mouseOut)="onMouseOut($event)"
      (mouseIn)="onMouseIn($event)">
    </canvas>
  </div>
  
</div>
