.canvas{
    float:right;
    position: relative;
    display: flex;
    flex-direction: column;
}
.mainwrapper{
    text-align: center;
    margin:80px;
}
.settings-label{
    color:#7a7a7a;
    user-select: none;
}
.grab-cursor{
    cursor:grab;
}
.default-cursor{
    cursor:default;
}